version: '3.9'

services:
  mysql:
    image: mysql:5.7
    container_name: mysql-expenses
    environment:
      MYSQL_ROOT_PASSWORD: expenses
      MYSQL_DATABASE: expenses
      MYSQL_TCP_PORT: 3306
    ports:
      - 3306:3306
    volumes:
      - ./db:/var/lib/mysql
    networks:
      - expenses
    restart: always

  api:
    container_name: 'api-expenses'
    build:
      context: .
      dockerfile: ./Dockerfile
      target: development
    command: npm run dev
    env_file:
      - ./.env
    ports:
      - 3000:3000
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - expenses

networks:
  expenses:
    driver: bridge
